<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Formulario de examen</title>
</head>
<body>
    <H1>Formulariod de examen</H1>
    <form action="/" method="post">
        <input class="control" type="text" name="nombre" id="nombre" placeholder="nombre"><br><br>
        <input class="control" type="text" name="apellido" id="apellido" placeholder="apellido"><br><br>
        <input class="control" type="text" name="correo" id="correo" placeholder="correo"><br><br>
        <input class="control"type="password" name="contraseña" id="contraseña" placeholder="contraseña"><br><br>
        <input class="control"type="number" name="telefono" id="telefono" placeholder="telefono"><br><br>
        <input class="control"type="text" name="ciudad" id="ciudad" placeholder="ciudad"><br><br>
        <input class="boton"type="submit" value="Registrar">
    </form>
</body>
</html>